.main-generator {
    margin: 8rem auto 0 auto;
    max-width: 1200px;
    width: 950%;
    height: 100%;
    background-color: rgb(255,255,255);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
   
}



.qr-editor {
    display: flex;
    flex-direction: column;
    background-color: #e8ebec;
    width: 100%;
    padding: 2rem 4rem 2rem 4rem;
    gap: 1rem;
}
.selection-button{
    color: #6f787f;
    border: none;
    background-color: inherit;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    height: 3.5rem;
    gap: 1rem;
    background-color: white;
    align-items: center;
    padding: 0;
   cursor: pointer;
}
.url-content{
    display: flex;
    color: #6f787f;
   font-size: 14px;
   font-weight: bold;
   margin-top: 0.5rem;
   flex-direction: column;
   gap: 0.5rem;
}
.url-input{
    height: 3rem;
    font-size: 16px;
    padding: 0 0.4rem 0 0.4rem;
    color: #333536;
    font-weight: 500;
    border: none;
    margin-bottom: 0.5rem;
}
.select-logo{
    background-color: rgb(226, 219, 219);
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-text{
   width: 33.5rem;
   text-align: left;
}
.plus-minus{
    width: 16px;
    height: 16px;
}
.logo-image{
    width: 20px;
    height: 20px;
}

.qr-container {
    margin-left: auto;
    height: 600px;
    padding: 2rem;
}

.qr {
    margin:auto;
}

.qr-to-download {
    display: none;
}