body{
    background-color: #20c997;
    color: white;
    font-family: "Open Sans",Sans-Serif;
    font-size: 16px;
    text-align: initial;
    padding-top: 4%;
    padding-bottom: 0%;
}

.header{
    display: flex;
    margin: auto;
    max-width: 1100px;
    flex-direction: row;
    justify-content: space-between;
}
.lemon-logo{
    width: 4rem;
    height: 4rem;
}


.header .left-side{
    font-size: 37px;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.001in;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header .left-side .project-name{
    display: flex;
    flex-direction: row;
}
.header .left-side .qr-code-text{
    font-weight: bolder;
}
.header .left-side .lemon-text{
    font-weight: lighter;
}
.information-text{
    font-size: 15px;
    font-weight: light;
}


.header .right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    

}
.header .right-side button{
    background-color: inherit;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bolder;
}
.header .right-side button:hover{
    color: rgb(209, 203, 203);
}