.footer{
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 20px;
   margin-top: 3rem;
   height: 7vh;
   width: 100vw;
   margin-bottom: 0px;
   color:#fff;
  }
  